ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_header{
    text-align: center;
    background-color: #f7323f;
    height: 454px;
}
.header_img{
    height: 454px;
}
.option_container{
    width: 1200px;
    height: 80px;
    border : 1px solid #f7323f;
    border-top : 10px #f7323f solid;
    margin: 50px auto 20px;
    border-radius: 15px;
}
.option_list{
    float :left;
    height: 100%;
    margin: 0 20px;
}
.option_date{
    position: relative;
}
.betweenDay_label{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    font-weight: bold;
}
.price_label{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    font-weight: bold;
}
.option_price{
    position: relative;
    width: 350px;
}
input[type="text"]{
    border: none;
    text-align: center;
}
.option_type{
    cursor: pointer;
}
.input-range__slider, .input-range__track--active{
    border: #f7323f !important;
    background: #f7323f !important;
}
.align_center{
    display: flex;
    height: 100%;
    align-items: center;
}
.people_btn{
    border:none;
    background-color: #fff;
    color : #f7323f;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.button_container{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
}
.option_btn{
    background-color: #f7323f;
    color: #fff;
    width: 160px;
    height: 60px;
    margin-left: 30px;
    border: 1px solid #f7323f;
    cursor: pointer;
    transition: all 1s;
}
.option_btn:hover{
    background-color: #fff;
    color: #f7323f;
}


.dayPicker_container{
    display : none;
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #f7323f;
  }
  .Selectable .DayPicker-Day {
    border-radius: 0 !important;
  }
  .Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside){
    background-color: #f7323f !important;
  }